
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <form method="post" action="/upload" enctype="multipart/form-data">
  <div class="row justify-content-md-center" style="margin-top: 20px;">
    <div class="col-md-3">
      <input class="form-control" type="file" id="input" name="Exclfiles" accept=".xls,.xlsx"></input>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" id="button" >Convert</button>
    </div>
  </div>
</form>
    <script src="../routes/myrouter.js"></script>
</body>
</html>